@page "/staticcounter"
@* @rendermode InteractiveAuto *@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge></p>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

<hr />

<h2>Repro</h2>

<p>Explicitly using fluent-badge</p>

<h3>Original</h3>
<p>
    Test #1:
    <fluent-badge>
        <div>@currentCount</div>
    </fluent-badge>
</p>

<h3>Workaround</h3>
<div>
    Test #2:
    <fluent-badge>
        <div>@currentCount</div>
    </fluent-badge>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
